<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mesha"
        tools:targetApi="31" >

    <activity android:name=".Activities.AuthenticationActivity"
        android:theme="@style/Theme.MeshaApp.Fullscreen"
        android:hardwareAccelerated="true"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity android:name=".Activities.Dashboard"
        android:theme="@style/Theme.MeshaApp.Fullscreen"
        android:hardwareAccelerated="true"
        android:exported="true">
    </activity>

        <activity android:name=".Activities.AlphaAccountDetailActivity"
            android:theme="@style/Theme.MeshaApp.Fullscreen"
            android:hardwareAccelerated="true"
            android:exported="true">
        </activity>

        <activity android:name=".PActivities.PDashboard"
            android:theme="@style/Theme.MeshaApp.Fullscreen"
            android:hardwareAccelerated="true"
            android:exported="true">
        </activity>

        <activity android:name=".PActivities.PAlphaAccountDetailActivity"
            android:theme="@style/Theme.MeshaApp.Fullscreen"
            android:hardwareAccelerated="true"
            android:exported="true">
        </activity>

        <activity android:name=".PActivities.PBetaAccountDetailActivity"
            android:theme="@style/Theme.MeshaApp.Fullscreen"
            android:hardwareAccelerated="true"
            android:exported="true">
        </activity>

        <activity android:name=".PActivities.PAnalysisActivity"
            android:theme="@style/Theme.MeshaApp.Fullscreen"
            android:hardwareAccelerated="true"
            android:exported="true">
        </activity>


        <activity android:name=".Activities.BetaAccountDetailActivity"
            android:theme="@style/Theme.MeshaApp.Fullscreen"
            android:hardwareAccelerated="true"
            android:exported="true">
        </activity>

        <activity android:name=".Activities.SignUpActivity"
            android:theme="@style/Theme.MeshaApp.Fullscreen"
            android:hardwareAccelerated="true"
            android:exported="true">
        </activity>

        <activity android:name=".Activities.SignInActivity"
            android:theme="@style/Theme.MeshaApp.Fullscreen"
            android:hardwareAccelerated="true"
            android:exported="true">
        </activity>

        <activity android:name=".Activities.AccountsSection"
            android:theme="@style/Theme.MeshaApp.Fullscreen"
            android:hardwareAccelerated="true"
            android:exported="true">
        </activity>


        <activity android:name=".Activities.AnalysisActivity"
            android:theme="@style/Theme.MeshaApp.Fullscreen"
            android:hardwareAccelerated="true"
            android:exported="true">
        </activity>


        <activity android:name=".Activities.CategoryManagementActivity"
            android:theme="@style/Theme.MeshaApp.Fullscreen"
            android:hardwareAccelerated="true"
            android:exported="true">
        </activity>

        <activity android:name=".Activities.UserPrefsActivity"
            android:theme="@style/Theme.MeshaApp.Fullscreen"
            android:hardwareAccelerated="true"
            android:exported="true">
        </activity>

    </application>

</manifest>